.header {
    background: rgba(46, 55, 103, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}