.tasks {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  background: rgba(46, 55, 103, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  cursor: pointer;
  transition: box-shadow .3s linear;

  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  &.done {
    .title {
        text-decoration: line-through;
    }
  }
}

.title {
    position: relative;
    padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.taskBtn {
  width: 24px;
  height: 24px;
  padding: 0;
  transition: color 0.3s linear;

  &:hover {
    color: var(--red);
  }
}
